.table&amp;amp;gt;tbody&amp;amp;gt;tr&amp;amp;gt;td, .table&amp;amp;gt;tfoot&amp;amp;gt;tr&amp;amp;gt;td {  
vertical-align: middle;
}
 
@media screen and (max-width: 600px) { 
table#cart tbody td .form-control { 
width:20%; 
display: inline !important;
} 
 
.actions .btn { 
width:36%; 
margin:1.5em 0;
} 
 
.actions .btn-info { 
float:left;
} 
 
.actions .btn-danger { 
float:right;
} 
 
table#cart thead {
display: none;
} 
 
table#cart tbody td {
display: block;
padding: .6rem;
min-width:320px;
} 
 
table#cart tbody tr td:first-child {
background: #333;
color: #fff;
} 
 
table#cart tbody td:before { 
content: attr(data-th);
font-weight: bold; 
display: inline-block;
width: 8rem;
} 
 
table#cart tfoot td {
display:block;
} 
table#cart tfoot td .btn {
display:block;
}
}
.control{
	display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 47px;
    border: 1px solid #cccccc;
    position: relative;
    padding-right: 16px;
    text-align: center;
    background-color: #fff;
    list-style: none;
}
.input-text{
	display: block;
    vertical-align: top;
    margin: 0;
    background-color: #fff;
    border: none;
    width: 100%;
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    padding: 0 0px;
}
.btn-number{
	width: 15px;
    line-height: 13px;
    position: absolute;
    right: 0;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 14px;
}
.qtyminus{
	bottom: 0;
}
.qtyplus{
	top:0;
	line-height:14px;
}